body {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  max-width: 700px;
  padding: 20px;
  padding-top: 0;
}

h1 {
  font-size: 28px;
  color: hsl(195, 86%, 40%);
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: hsl(195, 86%, 40%);
}

.profile-image {
  border-radius: 10%;
  height: 150px;
  width: 150px;
}
